#article-tag-element {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.job-list-ul {
    box-shadow: 4px 4px 3px grey;
    border: 2px solid grey;
    margin: 20px;
    padding: 8px;
    list-style-position: inside;
    border-radius: 15%;

}

.job-list-ul li:first-child {
    font-style: bold;
}